* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rebeccapurple;
}





.btn{
  background-color: white;
  color: rebeccapurple;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;

}
.btn:active{
  transform: scale(.95);
}

.toast{
  padding: 1rem;
  background-color: white;
  margin: .5rem;
  color:darkred;
  font-weight: bold;
}