* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: rgb(86, 86, 131);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
h1 {
  margin: 100px auto;
  color: white;
  font-weight: 400;
  -webkit-text-stroke: 1px black;
}
#buttons {
  display: flex;
  width: 100vw;
}
.btn {
  border: none;
  color: white;
  font-weight: 800;
  padding: 10px 25px;
  margin: 0 auto;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
.btn:nth-child(1) {
  background: rgb(51, 99, 200);
  background: linear-gradient(
    0deg,
    rgba(51, 99, 200, 1) 15%,
    rgba(199, 62, 108, 1) 93%
  );
}
.btn:nth-child(2) {
  background: rgb(51, 200, 73);
  background: linear-gradient(
    0deg,
    rgba(51, 200, 73, 1) 15%,
    rgba(62, 92, 199, 1) 93%
  );
}
.btn:nth-child(3) {
  background: rgb(200, 193, 51);
  background: linear-gradient(
    0deg,
    rgba(200, 193, 51, 1) 15%,
    rgba(199, 94, 62, 1) 93%
  );
}
#stop {
  margin: 20px;
  color: black;
}
